.aside{
  max-width: 300px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.menu__list {
  display: flex;
  flex-direction: column;
  font-size: 20px
}

.menu__item {
  text-transform: capitalize;
  list-style-type: none;
  cursor: pointer;

  &:hover{
    background-color: #F5F5F5;
  }
}

.menu__item-link {
  display: block;
  text-decoration: none;
  color: #707070;
  padding: 10px;
}